/* body {
    background-color:gray;
    margin: 0;
} */

.page-title{
    font-size: 50px;
    text-align: center;
    color: rgb(3, 3, 3);
    font-family: "American Typewriter", serif;
    font-variant: small-caps;
    font-stretch: expanded;
}

.attribution{
    font-size: 10px;
    text-align: center;
}